* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: none;
}

body {
    /*background: color #8abfb2; /* Color de fondo claro (puedes cambiarlo) */
    background-image: url('img/Chakras.webp')
    
}

header {
  background-color: #00dcd2; 
  color: #00504c;
  text-align: center;
  padding: 25px;
  border-radius: 150px;
  unicode-bidi: isolate
}
#logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}


nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: #aa817e;
  padding: 0;
  opacity: 0.75;
  border-radius: 200px;
}

nav ul li {
    margin: 0 15px; /* Espaciado entre elementos de navegación */
    color:#f9c8c2;
    text-decoration: solid;
}
main {
    margin: 50px auto;
    max-width: 1000px; /* Ancho máximo del contenido principal */
    background-color: #de93e5; /* Color de fondo del contenido */
   /*background-image: url('img/Chakras.webp');*/
    opacity: 0.9;
    padding: 20px; /* Espaciado interno */
    border-radius: 100px; /* Bordes redondeados */
    box-shadow: 0 4px 8px #251B28; /* Sombra para el contenedor */
    justify-content: left;
    text-align: center;
}

.rounded-text {
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    text-decoration: underline; /* Subrayar el texto */
}

h2 {
    justify-content: center;
    text-align: center;
    color: #251B28; /* Color de los títulos */
}


/* Menú horizontal con transiciones */
/*En este menú se ha creado una línea horizontal de colores diferentes encima de cada enlace. Se incluye una transición para cambiar el ancho de esa línea al 100% del contenedor de forma gradual*/
/* Formato general de cada item */

.menu {
    display: block;
    position: relative;
    height: 76px;
    width: 120px;
    margin: 0;
    overflow: hidden;
  }
  
  /* Bordes superiores */
  
  .menu.servicios {
    border-top: #aa817e 0.3em solid;
  }
  .menu.proyectos {
    border-top: #aa817e 0.3em solid;
  }
  
  .menu.contacto {
    border-top: #aa817e 0.3em solid;
  }
  
  .menu > span {
    display: block;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
  }
  
  .menu:after, .menu > span > span {
    display: block;
    text-align: center;
    border-radius: 0em;
    padding: 2em 0 1.5em;
  }
  
  .menu:after {
    content: attr(data-title);
    width: 100%;
    background:#aa817e;
    color: #ffffff; 
  }
  
  .menu > span > span {
    width: 120px;
    color: #ffffff;
  }
  
  .menu.servicios > span > span {
    background-image: url('img/inicio.png');
  }
  
  .menu.proyectos > span > span {
    background-image: url('img/vela.png');
  }
  
  .menu.contacto > span > span {
      background-image: url('img/contacto.png');
  }
  
  .menu:hover > span {
      height: 100%; 
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    display: inline;
    float: left;
    text-decoration: none;
    font-family: sans;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   /* display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 1200px;
    margin: 20px;
}

.item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 100%;
    height: 100%; /* Ajustamos también la altura al 100% */
    object-fit: cover;
    object-position: center; /* Centramos la imagen dentro del contenedor */
  }
.item:hover img {
    transform: scale(1.1);
    opacity: 1;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.item:hover .caption {
    opacity: 1;
    transform: translateY(0);
}

footer {
  text-align: center; /* Alineación del pie de página */
  padding: 10px 0;
  background-color: #00dcd2; 
  color: #00504c; /* Color del texto en el pie de página */
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 150px;
}